<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no"
        />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <%= CHAYNS_TOOLKIT_CSS_TAG %>

        <title>Studientag Aufgabe Array Methoden</title>
    </head>
    <body>
        <div class="tapp" id="root" ></div>
        <script src="https://api.chayns-static.space/js/v4.0/chayns.min.js"></script>
    </body>
</html>
